{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <!-- <a href="/" class="lang-logo">
      <img src="{% static 'lang-logo.png'%}">
    </a> -->
    <h1>GO!</h1>
    <p>GO!, a smart cities framework by <a href="#">ludiico</a></p>
    <a type="button" class="btn btn-lg btn-default" href="#"><span class="glyphicon glyphicon-map-marker"></span> GO! Bus</a>
    <a type="button" class="btn btn-lg btn-primary" href="#"><span class="glyphicon glyphicon-map-marker"></span> GO! Track</a>
      <a type="button" class="btn btn-lg btn-danger" href="#"><span class="glyphicon glyphicon-map-marker"></span> GO! Rota Fácil</a>
  </div>
  <br />
<br />
<br /><br />
<br /><br /><br /><br />
<br /><br /><br /><br />

</div>
{% endblock %}
